$scalp-black: #252334;
$pink-eye: #ff7ce7;
$tampon-red: #ff7376;
$vomit-green: #9aff7c;
$yellow-teeth: #ffe880;
$blue-goku: #7de5fd;
$green-headache: #43ffd2;
$purple-bruises: #ae81fa;
$ashy-foot: #393a3b;
$white-rabbit: #ebebeb;
